<p id="notice"><%= notice %></p>

<div id="title">
  <div>
    <p><%= @article.created_at %></p>
    <h1><%= @article.title %></h1>
  </div>
</div>

<div id="article_wrap">
  <div id="content">
    <%= @article.body %>
  </div>
  <div id="sidebar">
    <h2>★PV数ランキング</h2>
          <ul>
            <% @ranks.each do |rank| %>
            <li>
              <%= link_to(rank.title, "/articles/#{rank.id}") %>
              <span>
                (<%= REDIS.zscore('ranking', rank.id).to_i %>PV)
              </span>
            </li>
            <% end %>
          </ul>
  </div>

  <div class="clear"></div>
</div>
